.view {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 1rem 5rem;
  a {
    margin: 1rem 0;
    button {
      padding: 0.5rem 1.5rem;
      border: 1px solid #396CC5;
      border-radius: 10px;
      background:#FFFFFF 0% 0% no-repeat padding-box;
      color: rgb(27, 117, 252);
    }
  }
  table {
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px lightblue;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    thead {
      background: #8A82821C 0% 0% no-repeat padding-box;
      opacity: 0.66;
      th {
        color: rgb(120, 120, 120);
        height: 2rem;
        font-size: small;
        text-align: left;
        padding-left: 1rem;
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          padding:0.5rem 1rem;
          color: rgb(143, 143, 143);
          a{
            color: rgb(143, 143, 143);
          }
          a:hover{
            color: rgb(0, 0, 0);
          }
        }
        td:hover{
          color: black;
        }
      }
    }
  }
}
